* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100dvh;
}

body {
    display: flex;
    justify-content: center;
    
    background-color: oklch(0.1 0 264 / 1);
    color: #ffffff;
    font-family: 'Inter', sans-serif;
}


:root {
    --primary-color: #292929;
    --secondary-color: #5B7876;

    --lightscale-color: #F2E6B6;
    --lightscale-color-hover: #f2e6b6d8;
    --darkscale-color: #412A22;

    --lightergray: #8F9E8B;

    --shadow-l: inset
    0 1px 2px #F2E6B670,
    0 4PX 6PX #F2E6B630,
    0 6px 10px #F2E6B615;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}