* { margin: 0; padding: 0; box-sizing: border-box;}

html, body { 
    height: 100dvh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff);
    width: 100%;
}

:root {
    --light-bg-color: oklch(1 0 264);
    --dark-bg-color: hsl(0, 0%, 8%);

    --ff: "Inter", sans-serif;
    
    --shadow-m: inset 
    0 1px 2px #ffffff50, /* top highlight */ 
    0 2px 4px #00000030, /* dark shadow */ 
    0 4px 8px #00000015; /* soft shadow */
    --shadow-l: inset 
    0 1px 2px #ffffff70, /* top highlight */
    0 4px 6px #00000030, /* dark shadow */ 
    0 6px 10px #00000015; /* soft shadow */


}

.avatar-img {
    border-radius: 50%;
}

.front-box img {
    width: 24px;
    height: 24px;
}