* { margin: 0; padding: 0; box-sizing: border-box;}

html, body { 
    height: 100dvh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

:root {
    --light-bg-color: hsl(0, 0%, 100%);
    --dark-bg-color: hsl(0, 0%, 0%);
}

.avatar-img {
    border-radius: 50%;
}