* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    font-family: var(--base-font);
}

:root {
    --base-font: "Inter", sans-serif;

    --darkest-bg-color: hsl(0, 0%, 8%);
    --dark-bg-color: hsl(0, 0%, 12%);
    --lightdark-bg-color: hsl(0, 0%, 20%);
}