* { margin: 0; padding: 0; box-sizing: border-box;}

html, body { 
    height: 100dvh;
}

body {
    display: flex;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.avatar-img {
    border-radius: 50%;
}