.content-wrapper {
    display: flex;
    margin-inline: auto;

    & .card-box {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        

        border: 1px dotted red;
        padding-block: 2rem;
        padding-inline: 2rem;

        & .user-profile-box {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            border: inset 0 1px 2px #111111;
            & img {
                border-radius: 50%;
                object-fit: cover;

                transition: transform 0.2s ease-in-out;
                
                &:hover {
                    transform: scale(1.1);
                    
                }
            }
        }
    }
}