main.page-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    min-height: 100dvh;
    padding: 1.5rem;
    
    
    
}

.social-link-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 25rem;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    border-radius: 20px;
    box-shadow: var(--shadow-l);
    background-color: var(--primary-color);

    & .card-image {
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: center;

        & img {
            display: block;
            width: 100%;
            border-radius: 50%;
            box-shadow: inset 1px 2px 3px #111111;
        }
    }
    
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    &>:nth-child(3) {
        margin-top: 1rem;
        font-size: clamp(0.875rem, 1.5vw, 1.125rem);
        font-weight: 400;
        line-height: 130%
    }
    &>:nth-child(2) {
        color: var(--lightscale-color);
        font-size: clamp(.875rem, 1.5vw, 1.125rem);
        font-weight: 600;
        filter: drop-shadow(1px 1px 1px #111111);
        line-height: 130%;
    }
    &>:nth-child(1) {
        font-size: clamp(1.5rem, 2vw, 2rem);
        font-weight: 700;
        filter: drop-shadow(1px 1px 1px #111111);
        text-shadow: 1px 2px 2px #11111191;
        line-height: 130%;
    }
}

.nav-wrapper {
    width: 100%;
    max-width: 350px;
    padding: 1.5rem;
    
    

    & .nav-menu {
        
        
        & ul {
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            justify-content: center;
            justify-items: center;
            
            gap: 12px;

            width: 100%;

            
            
            

            & li {
                /* padding: 1rem; */
                height: 50px;
                min-width: 300px;
                
                text-align: center;
                background-color: #7776765b;
                border-radius: 12px;
                box-shadow: inset 0 1px 2px #ffffff,
                0 1px 2px #ffffff60,
                0 2px 3px #ffffff15;

                &:hover {
                    cursor: pointer;
                    background-color: var(--lightscale-color-hover);
                    color: var(--primary-color);
                }

                & a {
                    display: block;
                    height: 100%;
                    font-size: clamp(1rem, 1.5vw, 1.125rem);
                    line-height: 300%;
                    
                    

                    &:hover {
                        color: var(--primary-color);
                    }

                }
                
            }
        }
    }

}