.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100dvh;
    width: 100%;
    max-width: 384px;

    padding: 1.5rem;
}

.card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--light-bg-color);
    width: 24.5rem;
    max-width: 24rem;
    box-shadow: var(--shadow-l);
    
    padding-block: 2rem;

    & .avatar-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    & .profile-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.social-links-box {
    display: flex;
    justify-content: center;
    border: 1px dotted red;
    /* height: 350px; */
    width: 24.5rem;
    max-width: 24rem;
    padding-inline: 1.5rem;

    & .nav-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* gap: 1rem; */
        
        /* min-height: 350px; */
        width: 100%;
        max-width: 300px;

        &>:nth-child(1) {
            display: flex;
            justify-content: center;
            width: 100%;
            position: relative;


            & img {
                position: absolute;
                left: 200px;
            }

            & a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 300px;
                color: #111111;
                text-decoration: none;
                font-size: clamp(0.875rem, 1.5vw, 1.2rem);
                font-weight: 700;
                
            }
        }
    }
}