main.page-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    
    min-height: 100dvh;
    /* padding: 1.5rem; */
    
    
}

.social-link-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 25rem;
    background-color: var(--primary-color);

    & .card-image {
        width: 100%;
        max-width: 200px;
        display: flex;
        justify-content: center;

        & img {
            display: block;
            width: 100%;
            border-radius: 50%;
            box-shadow: inset 1px 2px 3px #111111;
        }
    }
    
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}