.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100dvh;
    width: 100%;
    max-width: 384px;

    padding: 1.5rem;
}

.card-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 380px;
    box-shadow: inset
    0 1px 2px #11111190;

    & .avatar-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    & .profile-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}