@media (max-width: 320px) {
    body {
        display: grid;
        min-height: 100dvh;
        max-width: 320px;
    }
    .content-wrapper {
        display: grid;
        width: 100%;
        padding-inline: .5rem;

        & .card-box {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 130px 1fr auto);
            align-items: center;
            justify-content: center;
            gap: 1rem;

            min-height: 510px;
            min-width: 18.125rem;


            & .user-profile-box {
                display: flex;
                margin: auto;
                max-width: 120px;
                max-height: 120px;

                & img {
                    width: 100px;
                    height: auto;
                    flex: 0 1 auto;
                }

            }

            & .social-links-box {
                display: flex;
                flex-direction: row;
                margin-top: 1.5rem;

                & a.social {
                    flex: 0 1 auto;
                }
            }
        }
    }

    
}

 
@media (min-width: 321px) and (max-width: 414px) {
    
    .content-wrapper {
        padding-inline: 6px;
        margin-inline: auto;
    }
}