@media (max-width: 320px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(100vh, 1fr));

        max-width: 20rem;
        height: 100dvh;
    }

    main.content-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);

        & .card-box {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            
        }
    }
}