* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: max-content;
    height: 100vh;
    background-color: #d5e1ef;
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    

    & .container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        height: 499px;
        width: 320px;

        padding-inline: 1rem;
        padding-block: 1rem 2.5rem;

        background-color: white;
        box-shadow: 0px 8px 6px #1f314f3a;
        border-radius: 1.25rem;

        & img {
            box-shadow:
            inset 0 1px 2px #00000030,
            inset 0 1px 2px #00000015,
            inset 0 2px 4px #00000040,
            inset 1px 2px 4px #00000080;
            border-radius: 10px;
            
        }

        & .text-box {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
            height: 100%;

            padding-inline: 1rem;

            & h1 {
                text-shadow: 1px 1px 2px #0000007e;
                font-size: 1.375rem;
                color: #1F314F;
                
                line-height: 120%;
            }

            & p {
                font-size: 0.938rem;
                line-height: 140%;
                color: #68778D;
            }
        }

    }
}